@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;

.avatar {
    @apply rounded-full w-14;
}
.message {
    @apply py-3 px-6 bg-myMessage rounded-2xl break-all
}
.button {
    @apply cursor-pointer rounded-md transition-all focus:outline-sendMessage
}
.input {
    @apply p-2 outline-none outline-offset-0 rounded-sm focus:outline-sendMessage transition-all duration-300
}
.error {
    @apply py-3 px-7 rounded-xl bg-error text-mainColor text-center
}
.caret {
    @apply text-sendMessage cursor-pointer transition-all
}

@tailwind utilities;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: #9ea1b7;
}
::-webkit-scrollbar {
    background: #FFF;
    width: .5rem;
}
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.293);
    border-radius: 4px;
}
[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.37);
}
